In [7]:
tiktok_usernames="""marinarossa_
tmavy_salma
s.mohann
styleconcept
unforgettableher
shinylittlerpearl"""

In [8]:
tiktok_usernames = tiktok_usernames.splitlines()

In [9]:
import requests, json
def get_info_from_social_data_info(key, username, social_platform='tiktok', subscribe=True):
    url_base = 'https://socapi.icu/v2.0/api/reports/new/'
    headers = {"X-Api-Key": key}
    param = {
        "url": username,
        "platform": social_platform.lower(),
        "subscribe": subscribe,
    }
    response = requests.post(url_base, headers=headers, params=param)
    return json.loads(response.content.decode('utf-8'))

In [10]:
key = ''

In [11]:
temp = []
for i in tiktok_usernames:
    data = get_info_from_social_data_info(key, i)
    temp.append(data)

In [12]:
import pandas as pd
pd.json_normalize(temp)

,success,version,report_info.report_id,report_info.created,report_info.profile_updated,user_profile.type,user_profile.user_id,user_profile.username,user_profile.url,user_profile.picture,...,audience_followers.data.audience_geo.countries,audience_followers.data.audience_lookalikes,audience_followers.data.notable_users,audience_commenters.success,audience_commenters.error,extra.followers_range.left_number,extra.followers_range.right_number,extra.engagement_rate_histogram,error,message
0,True,2,62b180b00102b3d8926176a6,2022-06-21T08:26:24.184+00:00,2022-06-21T04:32:33.704+00:00,tiktok,6767822021772690438,marinarossa_,https://www.tiktok.com/@6767822021772690438,https://p16-amd-va.tiktokcdn.com/tos-maliva-av...,...,"[{'id': 52411, 'name': 'Belgium', 'code': 'BE'...","[{'user_id': '6670850486000320518', 'username'...","[{'user_id': '6734889945024529414', 'username'...",False,empty_audience,50000.0,100000.0,"[{'max': 0.008281, 'total': 7280}, {'min': 0.0...",NaN,NaN
1,True,2,62b180b14b98a6cc45b6778b,2022-06-21T08:26:25.543+00:00,2022-06-20T21:07:46.350+00:00,tiktok,6837543929081398278,tmavy_salma,https://www.tiktok.com/@6837543929081398278,https://p16-amd-va.tiktokcdn.com/tos-maliva-av...,...,"[{'id': 192757, 'name': 'Tunisia', 'code': 'TN...","[{'user_id': '6850087872382632965', 'username'...","[{'user_id': '6779385743375909893', 'username'...",False,empty_audience,10000.0,50000.0,"[{'max': 0.007277, 'total': 63201}, {'min': 0....",NaN,NaN
2,True,2,62b180b21cebaa2f58551f0e,2022-06-21T08:26:26.530+00:00,2022-06-21T03:44:05.482+00:00,tiktok,6779371071537382406,s.mohann,https://www.tiktok.com/@6779371071537382406,https://p16-amd-va.tiktokcdn.com/tos-maliva-av...,...,"[{'id': 148838, 'name': 'United States', 'code...","[{'user_id': '6556587315773784069', 'username'...","[{'user_id': '6630133411883483141', 'username'...",False,empty_audience,10000.0,50000.0,"[{'max': 0.007277, 'total': 63201}, {'min': 0....",NaN,NaN
3,True,2,62b180b3af421567f76ac40c,2022-06-21T08:26:27.743+00:00,2022-06-21T08:18:55.888+00:00,tiktok,6806797751112844294,styleconcept,https://www.tiktok.com/@6806797751112844294,https://p16-amd-va.tiktokcdn.com/tos-maliva-av...,...,"[{'id': 1428125, 'name': 'Canada', 'code': 'CA...",NaN,"[{'user_id': '6827418853552800774', 'username'...",False,empty_audience,1.0,5000.0,"[{'max': 0.0, 'total': 586760}, {'min': 0.0, '...",NaN,NaN
4,True,2,62b180b41cebaa2f58551f0f,2022-06-21T08:26:28.475+00:00,2022-06-21T02:38:42.240+00:00,tiktok,6929602020681106438,unforgettableher,https://www.tiktok.com/@6929602020681106438,https://p16-amd-va.tiktokcdn.com/tos-maliva-av...,...,"[{'id': 148838, 'name': 'United States', 'code...",NaN,"[{'user_id': '6621145925262622726', 'username'...",False,empty_audience,1.0,5000.0,"[{'max': 0.0, 'total': 586760}, {'min': 0.0, '...",NaN,NaN
5,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,account_not_found,Can't find account